@page "/business-objects/{businessObject}/audit"

@using Super.Paula.Web.Shared.Localization
@using Super.Paula.Web.Shared.Handling.Responses

@inject ITranslator Translator
@inject NavigationManager NavigationManager
@inject IInspectionHandler InspectionHandler
@inject IBusinessObjectHandler BusinessObjectHandler
@inject AppState AppState

@attribute [Authorize("Inspector")]

<div class="container mt-2 mt-md-3">
    <h1>@Translator["Inspections"]</h1>
</div>

<div class="container mt-2 mt-md-3">

@if (_businessObject == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Translator["Inspection"]</th>
                <th>@Translator["Result"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inspection in _businessObject.Inspections)
            {
                <tr>
                    <td class="col-8">
                        <button class="btn btn-outline-secondary btn-block text-left" 
                                @onclick="() => ToggleTextVisibility(inspection.UniqueName)">@inspection.DisplayName</button>

                        @if (_inspectionsTextVisibile?[inspection.UniqueName] == true && !string.IsNullOrWhiteSpace(inspection.Text))
                        {
                            <div class="card card-body text-wrap">
                                @inspection.Text
                            </div>
                        }
                    </td>
                    <td class="col-2">
                    @switch(inspection.AuditResult) 
                    {
                        case "satisfying":
                            <button class="btn btn-success btn-block" 
                                @onclick="() => ToggleAsync(inspection)">@Translator["Satisfying"]</button>
                             break;
                        case "insufficient": 
                            <button class="btn btn-warning btn-block" 
                                @onclick="() => ToggleAsync(inspection)">@Translator["Insufficient"]</button>
                            break;
                        case "failed": 
                            <button class="btn btn-danger btn-block" 
                                @onclick="() => ToggleAsync(inspection)">@Translator["Failed"]</button>
                            break;
                        default: 
                            <button class="btn btn-secondary btn-block" 
                                @onclick="() => ToggleAsync(inspection)">@Translator["Unset"]</button>
                            break;
                    } 
                    </td>                   
                    <td class="col-2">
                        <button class="btn btn-outline-primary btn-block" 
                            @onclick="() => NavigateToAnnotationAsync(inspection)">@Translator["Annotation"]</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

</div>

@code {

    private IDictionary<string,bool>? _inspectionsTextVisibile;

    private BusinessObjectResponse? _businessObject;

    [Parameter]
    public string BusinessObject { get; set; } = null!;

    protected override Task OnInitializedAsync()
    {
        return QueryAsync();
    }

    public async Task QueryAsync()
    {
        _businessObject = await BusinessObjectHandler.GetAsync(BusinessObject);

        _inspectionsTextVisibile = _businessObject.Inspections
            .ToDictionary(x => x.UniqueName, _ => false);
    }

    private void ToggleTextVisibility(string inspection)
    {
        if (_inspectionsTextVisibile != null)
        {
            _inspectionsTextVisibile[inspection] = !_inspectionsTextVisibile[inspection];
        }
    }

    private async Task ToggleAsync(BusinessObjectResponse.EmbeddedInspection inspection)
    {
        var utcNow = DateTime.UtcNow;
        var inspectionToOld = inspection.AuditDate < (DateOnly.FromDateTime(utcNow).DayNumber - 1);

        var nextResult = new Dictionary<string,string>
        {
            ["satisfying"] = "insufficient",
            ["insufficient"] = "failed",
            ["failed"] = "satisfying"
        };

        if (!inspectionToOld)
        {
            var request = new ChangeInspectionAuditRequest
            {
                Result = nextResult[inspection.AuditResult]
            };

            await BusinessObjectHandler.ChangeInspectionAuditAsync(
                _businessObject!.UniqueName, inspection.UniqueName, request);

            inspection.AuditResult = request.Result;
        }
        else
        {
            var request = new CreateInspectionAuditRequest
            {
                Inspection = inspection.UniqueName,
                AuditDate = DateOnly.FromDateTime(utcNow).DayNumber,
                AuditTime = (int)utcNow.TimeOfDay.TotalMilliseconds,
                Result = nextResult[inspection.AuditResult]
            };

             await BusinessObjectHandler.CreateInspectionAuditAsync(
                _businessObject!.UniqueName, request);

            inspection.AuditDate = request.AuditDate;
            inspection.AuditTime = request.AuditTime;
            inspection.AuditResult = request.Result;
        }
    }

    private void NavigateToAnnotationAsync(BusinessObjectResponse.EmbeddedInspection inspection)
        => NavigationManager.NavigateTo($"/business-objects/{_businessObject!.UniqueName}/audit/{inspection.UniqueName}/{inspection.AuditDate}/{inspection.AuditTime}/annotation");
}