@page "/account/change-secret"

@inject ITranslator Translator
@inject IAccountHandler AccountHandler
@inject NavigationManager NavigationManager

@attribute [Authorize("Inspector")]

<div class="container mt-2 mt-md-3">
    <h1>@Translator["Change password"]</h1>
</div>

<EditForm Model="@model" OnValidSubmit="OnValidSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container mt-2 mt-md-3">
        <div class="form-group">
            <label>@Translator["Old password"]</label>
            <InputText class="form-control" id="oldSecret" @bind-Value="model.OldSecret" type="password" />
            
        </div>
        <div class="form-group">
            <label>@Translator["New password"]</label>
            <InputText class="form-control" id="newSecret" @bind-Value="model.NewSecret" type="password"/>
        </div>
    </div>

    <div class="container mt-2 mt-md-3">
        <button type="submit" class="btn btn-primary">@Translator["Submit"]</button>
    </div>

</EditForm>

@code {
    private ChangeSecretRequest model = new ChangeSecretRequest();

    private async Task OnValidSubmitAsync()
    {
        await AccountHandler.ChangeSecretAsync(model);
        NavigationManager.NavigateTo("/");
    }
}