@page "/account/register-inspector"
@using Super.Paula.Localization
@using Super.Paula.Administration
@using Super.Paula.Administration.Requests

@inject ITranslator Translator
@inject IAccountHandler AccountHandler
@inject NavigationManager NavigationManager

<div class="container mt-2 mt-md-3">
    <h1>@Translator["Inspector sign up"]</h1>
</div>

<EditForm Model="@model" OnValidSubmit="@OnValidSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container mt-2 mt-md-3">
        <div class="form-group">
            <label>@Translator["Organization"]</label>
            <InputText class="form-control" id="uniqueName" @bind-Value="model.Organization" />
        </div>
        <div class="form-group">
            <label>@Translator["Username"]</label>
            <InputText class="form-control" id="uniqueName" @bind-Value="model.UniqueName" />
        </div>
        <div class="form-group">
            <label>@Translator["Mail address"]</label>
            <InputText class="form-control" id="uniqueName" @bind-Value="model.MailAddress" />
        </div>
        <div class="form-group">
            <label>@Translator["Password"]</label>
            <InputText class="form-control" id="secret" @bind-Value="model.Secret" type="password"/>
        </div>
    </div>

    <div class="container mt-2 mt-md-3">
        <button type="submit" class="btn btn-primary">@Translator["Submit"]</button>
    </div>

</EditForm>

@code {
    private RegisterInspectorRequest model = new RegisterInspectorRequest();

    private async Task OnValidSubmitAsync()
    {
        await AccountHandler.RegisterInspectorAsync(model);
        NavigationManager.NavigateTo("/");
    }
}