@page "/organizations/create"

@inject ITranslator Translator
@inject NavigationManager NavigationManager
@inject IOrganizationHandler OrganizationHandler

@attribute [Authorize("Maintainance")]

<div class="container-fluid">
    <h1>@Translator[$"Create organization"]</h1>
</div>

<EditForm Model="@_request" OnValidSubmit="@OnValidSubmitAsync">
    <DataAnnotationsValidator />

    <div class="container-fluid">
        <div class="form-group">
            <label>@Translator[$"Display name"]</label>
            <InputText class="form-control" id="organizationDisplayName" @bind-Value="_request.DisplayName" />
        </div>
        <div class="form-group">
            <label>@Translator[$"Unique name"]</label>
            <InputText class="form-control" id="organizationUniqueName" @bind-Value="_request.UniqueName" />
        </div>
        <div class="form-group">
            <label>@Translator[$"Chief inspector"]</label>
            <InputText class="form-control" id="organizationChiefInspector" @bind-Value="_request.ChiefInspector" />
        </div>
        <div class="form-check">
            <InputCheckbox class="form-check-input" id="organizationActivated" @bind-Value="_request.Activated"/>
            <label class="form-check-label" for="organizationActivated">@Translator[$"Activated"]</label>     
        </div>
    </div>

    @if(context.GetValidationMessages().Any())
    {
        <div class="container-fluid">
            <div class="card card-body tex-wrap">
                <ValidationSummary />    
            </div>
        </div>
    } 
    else 
    {
        <div class="container-fluid">
            <button
                id="submit"
                type="submit"
                class="btn btn-primary">@Translator[$"Submit"]</button>
        </div>
    }

</EditForm>

@code {
    private OrganizationRequest _request = new OrganizationRequest();

    private async Task OnValidSubmitAsync()
    {
        await OrganizationHandler.CreateAsync(_request);
        NavigationManager.NavigateTo("/organizations");
    }
}