@page "/organizations"

@inject ITranslator Translator
@inject NavigationManager NavigationManager
@inject IOrganizationHandler OrganizationHandler
@inject AppState AppState

@attribute [Authorize("Maintainer")]

<div class="container mt-2 mt-md-3">
    <h1>@Translator["Organizations"]</h1>
</div>

<div class="container mt-2 mt-md-3">
    <button class="btn btn-primary" 
        @onclick="() => Create()">@Translator["Create"]</button>
</div>

<div class="container mt-2 mt-md-3">
@if (_organizations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead class="b">
            <tr>
                <th>@Translator["Display name"]</th>
                <th>@Translator["Unique name"]</th>
                <th>@Translator["Chief inspector"]</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var organization in _organizations.Values)
            {
                <tr>
                    <td>@organization.DisplayName</td>
                    <td>@organization.UniqueName</td>
                    <td>@organization.ChiefInspector</td>
                    @if(organization.Activated) {
                        <td>
                            @if (organization.UniqueName != AppState.CurrentOrganization)
                            {
                                <button class="btn btn-primary btn-block" 
                                    @onclick="() => DeactivateAsync(organization.UniqueName)">@Translator["Deactivate"]</button>
                            }
                        </td>
                    } else {
                        <td>
                            @if (organization.UniqueName != AppState.CurrentOrganization)
                            {

                                <button class="btn btn-outline-primary btn-block" 
                                    @onclick="() => ActivateAsync(organization.UniqueName)">@Translator["Activate"]</button>
                            }
                        </td>
                    }
                    <td>
                        <button class="btn btn-outline-info btn-block" 
                            @onclick="() => Edit(organization.UniqueName)">@Translator["Edit"]</button>
                    </td>
                    <td>
                        @if (organization.UniqueName != AppState.CurrentOrganization)
                        {
                            <button class="btn btn-outline-danger btn-block" 
                                @onclick="() => DeleteAsync(organization.UniqueName)">@Translator["Delete"]</button>
                        }
                    </td>
                    <td>
                        <button class="btn btn-outline-danger btn-block" 
                            @onclick="() => NavigateToInspectors(organization.UniqueName)">@Translator["Inspectors"]</button>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}
</div>

@code {

    private IDictionary<string,OrganizationResponse>? _organizations;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _organizations = new Dictionary<string, OrganizationResponse>();

            await foreach (var organization in OrganizationHandler.GetAll())
            {
                _organizations.Add(organization.UniqueName, organization);
                StateHasChanged();
            }

            StateHasChanged();
        }
    }

    public void Create()
        => NavigationManager.NavigateTo("/organizations/create");

    public async Task DeleteAsync(string organization) {
        await OrganizationHandler.DeleteAsync(organization);
        _organizations!.Remove(organization);
    }

    public async Task ActivateAsync(string organization) {
         await OrganizationHandler.ActivateAsync(organization);
         _organizations![organization].Activated = true;
    }

    public async Task DeactivateAsync(string organization) 
    {
        await OrganizationHandler.DeactivateAsync(organization);
         _organizations![organization].Activated = false;
    }
    
    public void Edit(string organization)
        => NavigationManager.NavigateTo($"/organizations/{organization}/edit/");

    public void NavigateToInspectors(string organization)
        => NavigationManager.NavigateTo($"/inspectors-for-organization/{organization}");

}