@inject ITranslator Translator

<button class="btn btn-block text-left @(
                IsOverdue() 
                    ? "btn-outline-danger" 
                    : IsCurrent() 
                        ? "btn-outline-warning" 
                        : IsUpcomming() 
                            ? "btn-outline-success"
                            : "btn-outline-secondary")"

        @onclick="() => Toggle()">@Inspection.DisplayName</button>

@if (_isExpanded)
{
    <div class="card card-body text-wrap">
        @if (HasTimestamps())
        {
            <ul class="list-unstyled">
                @if (IsAuditted())
                {
                    <li>
                        <small class="text-nowrap">@GetAuditString()</small>
                    </li>
                }
                @if (IsScheduled())
                {
                    <li>
                        <small class="text-nowrap @(
                                        IsOverdue() 
                                            ? "text-danger font-weight-bold" 
                                            : IsCurrent() 
                                                ? "text-warning" 
                                                : IsUpcomming() 
                                                    ? "text-success"
                                                    : "")">@GetScheduledString()</small>
                    </li>
                }
            </ul>
        }
        <span>
            @Inspection.Text
        </span>
    </div>
}

@code {

    [Parameter]
    public BusinessObjectInspectionResponse Inspection { get; set; } = null!;

    private bool _isExpanded = false;

    private void Toggle()
    {
        if (CanToggle())
        {
            _isExpanded =!_isExpanded;
        }
    }

    private bool IsAuditted()
        => Inspection.AuditDate != default;

    private bool IsOverdue()
    {
        if (IsScheduled())
        {
            var appointment = Inspection.AuditSchedule.Appointments.First();
            var auditDelay = (appointment.PlannedAuditDate, appointment.PlannedAuditTime)
                .ToDateTime()
                .AddMilliseconds(Inspection.AuditSchedule.Threshold);

            return auditDelay < DateTime.UtcNow;
        }
        return false;
    }

    private bool IsScheduled()
        => Inspection.AuditSchedule.Appointments.Any();

    private bool IsCurrent()
    {
        if (IsScheduled())
        {
            var appointment = Inspection.AuditSchedule.Appointments.First();
            var plannedAudit = (appointment.PlannedAuditDate, appointment.PlannedAuditTime)
                .ToDateTime();

            return plannedAudit < DateTime.UtcNow;
        }
        return false;
    }

    private bool IsUpcomming()
    {
        if (IsScheduled())
        {
            var appointment = Inspection.AuditSchedule.Appointments.First();
            var upcomingAudit = (appointment.PlannedAuditDate, appointment.PlannedAuditTime)
                .ToDateTime()
                .AddMilliseconds(-Inspection.AuditSchedule.Threshold);

            return upcomingAudit < DateTime.UtcNow;
        }
        return false;
    }

    private bool HasTimestamps()
        => IsScheduled() || IsAuditted();

    private bool CanToggle()
        => HasTimestamps() || !string.IsNullOrWhiteSpace(Inspection.Text);

    private string GetAuditString()
    {
        var audit = (Inspection.AuditDate, Inspection.AuditTime).ToLocalTimeString();
        return string.Format(@Translator["{0} (last audit)"], audit);
    }

    private string GetScheduledString()
    {
        var appointment = Inspection.AuditSchedule.Appointments.First();
        var plannedAudit = (appointment.PlannedAuditDate, appointment.PlannedAuditTime).ToLocalTimeString();
        return string.Format(@Translator["{0} (next audit)"], plannedAudit);
    }
}
