@page "/sign-in"

@inject ITranslator Translator
@inject IAuthenticationHandler AuthenticationHandler
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <h1>@Translator["Sign in"]</h1>
</div>

<EditForm Model="@request" OnValidSubmit="@OnValidSubmitAsync">
    <DataAnnotationsValidator />

    <div class="container-fluid">
        <div class="form-group">
            <label>@Translator["Identity"]</label>
            <InputText class="form-control" id="uniqueName" @bind-Value="request.Identity" />
        </div>
        <div class="form-group">
            <label>@Translator["Password"]</label>
            <InputText class="form-control" id="secret" @bind-Value="request.Secret" type="password"/>
        </div>
    </div>

    @if(context.GetValidationMessages().Any())
    {
        <div class="container-fluid">
            <div class="card card-body tex-wrap">
                <ValidationSummary />    
            </div>
        </div>
    } 
    else 
    {
        <div class="container-fluid">
            <button type="submit" class="btn btn-primary">@Translator["Submit"]</button>
        </div>
    }

</EditForm>

@code {
    private SignInRequest request = new SignInRequest();

    private async Task OnValidSubmitAsync()
    {
        await AuthenticationHandler.SignInAsync(request);
        if (NavigationManager.Uri.Contains("sign-in"))
        {
            NavigationManager.NavigateTo("/sign-in-inspector");
        }
    }
}