@page "/account/register-organization"
@using Super.Paula.Client.Localization
@using Super.Paula.Application.Administration
@using Super.Paula.Application.Administration.Requests

@inject ITranslator Translator
@inject IAccountHandler AccountHandler
@inject NavigationManager NavigationManager

<div class="container mt-2 mt-md-3">
    <h1>@Translator["Organization sign up"]</h1>
</div>

<EditForm Model="@model" OnValidSubmit="@OnValidSubmitAsync">
    <DataAnnotationsValidator />

    <div class="container mt-2 mt-md-3">
        <div class="form-group">
            <label>@Translator["Organization unique name"]</label>
            <InputText class="form-control" id="organizationUniqueName" @bind-Value="model.UniqueName" />
        </div>
        <div class="form-group">
            <label>@Translator["Organization display name"]</label>
            <InputText class="form-control" id="organizationDisplayName" @bind-Value="model.DisplayName" />
        </div>
        <hr />
        <h4>Chief inspector details</h4>
        <div class="form-group">
            <label>@Translator["Identity"]</label>
            <InputText class="form-control" id="chiefInspector" @bind-Value="model.ChiefInspector" />
        </div>
        <div class="form-group">
            <label>@Translator["Mail address"]</label>
            <InputText class="form-control" id="chiefInspectorMail" @bind-Value="model.ChiefInspectorMail" />
        </div>
        <div class="form-group">
            <label>@Translator["Password"]</label>
            <InputText class="form-control" id="chiefInspectorSecret" @bind-Value="model.ChiefInspectorSecret" type="password"/>
        </div>
    </div>

    @if(context.GetValidationMessages().Any())
    {
        <div class="container mt-2 mt-md-3">
            <div class="card card-body tex-wrap">
                <ValidationSummary />    
            </div>
        </div>
    } 
    else 
    {
        <div class="container mt-2 mt-md-3">
            <button type="submit" class="btn btn-primary">@Translator["Submit"]</button>
        </div>
    }

</EditForm>

@code {
    private RegisterOrganizationRequest model = new RegisterOrganizationRequest();

    private async Task OnValidSubmitAsync()
    {
        await AccountHandler.RegisterOrganizationAsync(model);
        NavigationManager.NavigateTo("/");
    }
}