@page "/account/sign-in"
@using Super.Paula.Client.Localization
@using Super.Paula.Application.Administration
@using Super.Paula.Application.Administration.Requests

@inject ITranslator Translator
@inject IAccountHandler AccountHandler
@inject NavigationManager NavigationManager

<div class="container mt-2 mt-md-3">
    <h1>@Translator["Sign in"]</h1>
</div>

<EditForm Model="@request" OnValidSubmit="@OnValidSubmitAsync">
    <DataAnnotationsValidator />

    <div class="container mt-2 mt-md-3">
        <div class="form-group">
            <label>@Translator["Organization"]</label>
            <InputText class="form-control" id="uniqueName" @bind-Value="request.Organization" />
        </div>
        <div class="form-group">
            <label>@Translator["Username"]</label>
            <InputText class="form-control" id="uniqueName" @bind-Value="request.UniqueName" />
        </div>
        <div class="form-group">
            <label>@Translator["Password"]</label>
            <InputText class="form-control" id="secret" @bind-Value="request.Secret" type="password"/>
        </div>
    </div>

    @if(context.GetValidationMessages().Any())
    {
        <div class="container mt-2 mt-md-3">
            <div class="card card-body">
                <ValidationSummary />    
            </div>
        </div>
    } 
    else 
    {
        <div class="container mt-2 mt-md-3">
            <button type="submit" class="btn btn-primary">@Translator["Submit"]</button>
        </div>
    }

</EditForm>

@code {
    private SignInInspectorRequest request = new SignInInspectorRequest();


    private async Task OnValidSubmitAsync()
    {
        await AccountHandler.SignInInspectorAsync(request);
        NavigationManager.NavigateTo("/");
    }
}