@page "/inspectors/{inspector}/edit"

@inject ITranslator<Edit> Translator
@inject NavigationManager NavigationManager
@inject IInspectorRequestHandler InspectorRequestHandler

@attribute [Authorize("OnlyChiefOrObserver")]

<PageTitle>@Translator[$"Edit inspector"]</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@Translator[$"Edit inspector"]</h1>
</div>

@if (_request == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@_request" OnValidSubmit="@OnValidSubmitAsync">
        <DataAnnotationsValidator/>

        <div class="container-fluid pb-3 mb-3 border-bottom">
            <div class="form-floating mt-3">
                <InputText class="form-control" id="inspectorUniqueName" @bind-Value="_request.UniqueName" readonly/>
                <label for="inspectorUniqueName">@Translator[$"Unique name"]</label>
            </div>
            <div class="form-floating mt-3">
                <InputText class="form-control" id="inspectorIdentity" @bind-Value="_request.Identity"/>
                <label for="inspectorIdentity">@Translator[$"Identity"]</label>
            </div>
            <div class="form-check mt-3">
                <InputCheckbox class="form-check-input" id="inspectorActivated" @bind-Value="_request.Activated"
                               disabled="@(_request.UniqueName == _inspector)"/>
                <label class="form-check-label" for="inspectorActivated">@Translator[$"Activated"]</label>
            </div>
        </div>

        @if (context.GetValidationMessages().Any())
        {
            <div class="container-fluid pb-4 mb-5">
                <div class="card card-body tex-wrap">
                    <ValidationSummary/>
                </div>
            </div>
        }
        else
        {
            <div class="container-fluid pb-4 mb-5">
                <AuthorizedButton Policy="OnlyChief"
                                  id="submit"
                                  type="submit"
                                  class="btn btn-sm btn-primary">@Translator[$"Submit"]</AuthorizedButton>
            </div>
        }

    </EditForm>
}

@code {

    [Parameter]
    public string Inspector { get; set; } = string.Empty;

    private InspectorRequest? _request = null;

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    private string? _inspector;

    protected override async Task OnParametersSetAsync()
    {
        _inspector = (await AuthenticationState).User.Claims.GetInspector();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var response = await InspectorRequestHandler.GetAsync(Inspector);

            _request = new InspectorRequest
            {
                Identity = response.Identity,
                UniqueName = response.UniqueName,
                Activated = response.Activated,
                ETag = response.ETag
            };

            StateHasChanged();
        }
    }

    private async Task OnValidSubmitAsync()
    {
        await InspectorRequestHandler.ReplaceAsync(Inspector, _request!);
        NavigationManager.NavigateTo("/inspectors");
    }

}