@page "/inspectors"
@page "/organizations/{organization}/inspectors"

@inject ITranslator Translator
@inject NavigationManager NavigationManager
@inject IAccountHandler AccountHandler
@inject AppAuthentication AppAuthentication
@inject IInspectorHandler InspectorHandler
@inject IOrganizationHandler OrganizationHandler


@attribute [Authorize("RequiresManagementViewability")]

<div class="container-fluid">
    <h1>@Translator["Inspectors"]</h1>
</div>

<div class="container-fluid m-2">
    <button class="btn btn-primary" title="@Translator["Create"]" 
            @onclick="Create"><span class="oi oi-plus"/></button>
</div>

<div class="container-fluid">

@if (_inspectors == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-sm">
        <thead class="table-light table-borderless">
            <tr>
                <th class="col-6">@Translator["Unique name"]</th>
                <th class="col-6">@Translator["Identity"]</th>
                @if (Organization == null)
                {
                    <th></th>
                    <th></th>
                    <th></th>
                }
                <AuthorizeView Policy="RequiresMaintainability">
                    <Authorized>
                        <th></th>
                    </Authorized>
                </AuthorizeView>
            </tr>
        </thead>
        <tbody>
            @foreach (var inspector in _inspectors.Values)
            {
                <tr>
                    <td>@inspector.UniqueName</td>
                    <td>@inspector.Identity</td>
                    @if(Organization == null)
                    {
                        @if(inspector.Activated)
                        {
                            <td>
                                @if (inspector.UniqueName != AppAuthentication.Inspector)
                                {
                                    <AuthorizedButton Policy="RequiresManageability" class="btn btn-success btn-block" title="@Translator["Deactivate"]" 
                                        @onclick="() => DeactivateAsync(inspector.UniqueName)"><span class="oi oi-power-standby"/></AuthorizedButton>
                                }
                            </td>
                        } else {
                            <td>
                                @if (inspector.UniqueName != AppAuthentication.Inspector)
                                {
                                    <AuthorizedButton Policy="RequiresManageability" class="btn btn-outline-danger btn-block" title="@Translator["Activate"]" 
                                        @onclick="() => ActivateAsync(inspector.UniqueName)"><span class="oi oi-power-standby"/></AuthorizedButton>
                                }
                            </td>
                        }
                        <td>
                            <button class="btn btn-outline-info btn-block" title="@Translator["Edit"]" 
                                @onclick="() => Edit(inspector.UniqueName)"><span class="oi oi-pencil"/></button>
                        </td>
                        <td>
                            @if (inspector.UniqueName != AppAuthentication.Inspector)
                            {
                                <AuthorizedButton Policy="RequiresManageability" class="btn btn-outline-danger btn-block" title="@Translator["Delete"]" 
                                    @onclick="() => DeleteAsync(inspector.UniqueName)"><span class="oi oi-trash"/></AuthorizedButton>
                            }
                        </td>
                    }
                    <AuthorizeView Policy="RequiresMaintainability">
                        <Authorized>
                            <td>
                                @if (inspector.Activated &&
                                     _organization?.Activated == true &&
                                     inspector.UniqueName != AppAuthentication.Inspector)
                                {
                                    <button class="btn btn-outline-danger btn-block" title="@Translator["Impersonate"]"
                                    @onclick="() => ImpersonateAsync(inspector.UniqueName)"><span class="oi oi-eye"/></button>
                                }
                            </td>
                        </Authorized>
                    </AuthorizeView>
                    
                </tr>
            }
        </tbody>
    </table>
}

</div>

@code {

    [Parameter]
    public string? Organization { get; set; }

    private OrganizationResponse? _organization;

    private IDictionary<string,InspectorResponse>? _inspectors;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _inspectors = new Dictionary<string, InspectorResponse>();

            if (Organization != null)
            {
                _organization = await OrganizationHandler.GetAsync(Organization);
            }            

            var response = Organization == null
                ? InspectorHandler.GetAll()
                : InspectorHandler.GetAllForOrganization(Organization);

            await foreach (var inspector in response)
            {
                _inspectors.Add(inspector.UniqueName, inspector);
                StateHasChanged();
            }

            StateHasChanged();
        }
    }

    public void Create()
        => NavigationManager.NavigateTo("/inspectors/create");

    public void Edit(string inspector)
        => NavigationManager.NavigateTo($"/inspectors/{inspector}/edit");

    public async Task DeleteAsync(string inspector) 
    {
        await InspectorHandler.DeleteAsync(inspector);
        _inspectors!.Remove(inspector);
    }

    public async Task ActivateAsync(string inspector)
    {
        await InspectorHandler.ActivateAsync(inspector);
        _inspectors![inspector].Activated = true;
    }

    public async Task DeactivateAsync(string inspector)
    {
        await InspectorHandler.DeactivateAsync(inspector);
        _inspectors![inspector].Activated = false;
    }

    public async Task ImpersonateAsync(string inspector)
    {
        await AccountHandler.StartImpersonationAsync(new StartImpersonationRequest
        {
            UniqueName = inspector,
            Organization = Organization ?? AppAuthentication.Organization
        });

        NavigationManager.NavigateTo("/");
    }
}