@page "/business-objects/{businessObject}/audit-history"

@inject ITranslator Translator
@inject NavigationManager NavigationManager
@inject IBusinessObjectInspectionAuditHandler BusinessObjectInspectionAuditHandler

@attribute [Authorize("ChiefInspector")]

<div class="container-fluid">
    <h1>@Translator["Inspection audits"]</h1>
</div>

<div class="container-fluid d-flex align-items-center m-2">
    <div class="custom-control custom-switch mr-4">
        <input type="checkbox" class="custom-control-input" checked="@_showSatisfying" id="showSatisfying" @onchange="ShowSatisfyingChanged">
        <label class="custom-control-label" for="showSatisfying">@Translator["Show satisfying"]</label>
    </div>
    <div class="custom-control custom-switch mr-4">
        <input type="checkbox" class="custom-control-input" checked="@_showInsufficient" id="showInsufficient" @onchange="ShowInsufficientChanged">
        <label class="custom-control-label" for="showInsufficient">@Translator["Show insufficient"]</label>
    </div>
    <div class="custom-control custom-switch mr-4">
        <input type="checkbox" class="custom-control-input" checked="@_showFailed" id="showFailed" @onchange="ShowFailedChanged">
        <label class="custom-control-label" for="showFailed">@Translator["Show failed"]</label>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search term" @bind="_searchTerm" @onkeyup="SearchTermKeyDownAsync">
        <div class="input-group-append">
            <button type="button" id="inspectorSearch" 
                class="btn @(_searchScope == "inspector" ? "btn-primary" : "btn-outline-secondary")"
                checked="@(_searchScope == "inspector")"
                @onclick="@(() => ChangeSearchScopeAsync("inspector"))">@Translator["Inspectors"]</button>
            <button type="button" id="inspectionSearch"
                class="btn @(_searchScope == "inspection" ? "btn-primary" : "btn-outline-secondary")"
                checked="@(_searchScope == "inspection")" 
                @onclick="@(() => ChangeSearchScopeAsync("inspection"))">@Translator["Inspections"]</button>
        </div>
    </div>
</div> 

<div class="container-fluid">

@if (InspectionAudits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Translator["Audit time"]</th>
                <th>@Translator["Inspection"]</th>
                <th>@Translator["Inspector"]</th>
                <th>@Translator["Result"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inspectionAudit in InspectionAudits)
            {
                <tr>
                    <td class="col-2">@((inspectionAudit.AuditDate, inspectionAudit.AuditTime).ToLocalTimeString())</td>
                    <td class="col-7">
                        <button class="btn btn-outline-secondary btn-block text-left" 
                                @onclick="() => ToggleAnnotationVisibility(inspectionAudit)">@inspectionAudit.InspectionDisplayName</button>

                        @if (_inspectionAuditAnnotationVisibile?[inspectionAudit] == true && !string.IsNullOrWhiteSpace(inspectionAudit.Annotation))
                        {
                            <div class="card card-body text-wrap">
                                @inspectionAudit.Annotation
                            </div>
                        }
                    </td>
                    <td class="col-2">@inspectionAudit.Inspector</td>
                    <td class="col-1">
                    @switch(inspectionAudit.Result) 
                    {
                        case "satisfying":
                            <button class="btn btn-success btn-block" disabled><span class="oi oi-star"/></button>
                             break;
                        case "insufficient": 
                            <button class="btn btn-warning btn-block" disabled><span class="oi oi-warning"/></button>
                            break;
                        case "failed": 
                            <button class="btn btn-danger btn-block" disabled><span class="oi oi-x"/></button>
                            break;
                    } 
                    </td>                   
                </tr>
            }
        </tbody>
    </table>
}

</div>

@code {

    private ICollection<BusinessObjectInspectionAuditResponse>? _inspectionAudits;

    private IDictionary<BusinessObjectInspectionAuditResponse,bool>? _inspectionAuditAnnotationVisibile;

    private IEnumerable<BusinessObjectInspectionAuditResponse>? InspectionAudits =>
        _inspectionAudits?
            .Where(x => 
                _showSatisfying && x.Result == "satisfying" ||
                _showInsufficient && x.Result == "insufficient" ||
                _showFailed && x.Result == "failed");

    [Parameter]
    public string BusinessObject { get; set; } = null!;

    private bool _showSatisfying = true;

    private bool _showInsufficient = true;

    private bool _showFailed = true;

    private string _searchTerm = string.Empty;

    private string _searchScope = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await QueryAsync();
            StateHasChanged();
        }
    }

    private async Task QueryAsync()
    {
        _inspectionAudits = new List<BusinessObjectInspectionAuditResponse>();

        if (_searchTerm.Length <= 3 && _searchScope != string.Empty)
        {
            return;
        }

        var searchTermInspectorSearch =
            (_searchTerm.Length > 3 && _searchScope == "inspector")  ? _searchTerm : null;
        var searchTermInspectionSearch =
            (_searchTerm.Length > 3 && _searchScope == "inspection")  ? _searchTerm : null;
 
        var response = BusinessObjectInspectionAuditHandler.SearchForBusinessObject(
            BusinessObject,
            searchTermInspectorSearch,
            searchTermInspectionSearch
        );

        await foreach(var inspectionAudit in response)
        {
            _inspectionAudits.Add(inspectionAudit);
            this.StateHasChanged();            
        }

        _inspectionAuditAnnotationVisibile = _inspectionAudits
            .ToDictionary(key => key, _ => false);
    }

    private void ShowSatisfyingChanged(ChangeEventArgs e)
    {
        _showSatisfying = (bool)e.Value!;
    }

    private Task ChangeSearchScopeAsync(string searchScope)
    {
        _searchScope = _searchScope == searchScope
            ? string.Empty
            : searchScope;
        return QueryAsync();
    }

    private void ShowInsufficientChanged(ChangeEventArgs e)
    {
        _showInsufficient = (bool)e.Value!;
    }

    private void ShowFailedChanged(ChangeEventArgs e)
    {
        _showFailed = (bool)e.Value!;
    }

    public async Task SearchTermKeyDownAsync(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (_searchTerm.Length > 3)
            {
                if (_searchScope == string.Empty)
                {
                    _searchScope = "inspector";
                }
            }
            else
            {
                _searchTerm = string.Empty;
                _searchScope = string.Empty;
            }
            await QueryAsync();
        }
    }    

    private void ToggleAnnotationVisibility(BusinessObjectInspectionAuditResponse audit)
    {
        if (_inspectionAuditAnnotationVisibile != null)
        {
            _inspectionAuditAnnotationVisibile[audit] = !_inspectionAuditAnnotationVisibile[audit];
        }
    }
}