@page "/business-objects/{businessObject}/inspections/{inspection}/schedule"

@inject ITranslator Translator
@inject NavigationManager NavigationManager
@inject IBusinessObjectHandler BusinessObjectHandler

@attribute [Authorize("ChiefInspector")]

<div class="container-fluid">
    <h1>@Translator["Schedule inspection"]</h1>
</div>

@if (_request == null)
{
    <p><em>Loading...</em></p>
}
else 
{
    <EditForm Model="@_request" OnValidSubmit="@OnValidSubmitAsync">
        <DataAnnotationsValidator />

        <div class="container-fluid">
            <div class="form-group">
                <label>@Translator["Audit schedule"]</label>
                <InputText class="form-control" id="Schedule" @bind-Value="_request.Schedule"/>
            </div>
            <div class="form-group">
                <label>@Translator["Upcoming audit threshold"] (@TimeSpan.FromMilliseconds(_request.Threshold).ToString("c"))</label>
                <InputMilliseconds class="form-control" id="Threshold"  @bind-Value="_request.Threshold" step="1"/>
            </div>
        </div>

        @if(context.GetValidationMessages().Any())
        {
            <div class="container-fluid">
                <div class="card card-body tex-wrap">
                    <ValidationSummary />    
                </div>
            </div>
        } 
        else 
        {
            <div class="container-fluid">
                <button type="submit" class="btn btn-primary">@Translator["Submit"]</button>
            </div>
        }

    </EditForm>
}

@code {

    [Parameter]
    public string BusinessObject { get; set; } = string.Empty;

    [Parameter]
    public string Inspection { get; set; } = string.Empty;

    private ScheduleInspectionAuditRequest? _request = null;

    protected override async Task OnInitializedAsync()
    {
        var response = await BusinessObjectHandler.GetAsync(BusinessObject);

        var responseInspection = response.Inspections
            .SingleOrDefault(x => x.UniqueName == Inspection);

        if (responseInspection != null)
        {
            var expression = responseInspection.AuditSchedule.Expressions.FirstOrDefault();

            _request = new ScheduleInspectionAuditRequest
            {
                Threshold = responseInspection.AuditSchedule.Threshold,
                Schedule = expression?.CronExpression ?? string.Empty
            };
        }
    }

    private async Task OnValidSubmitAsync()
    {
        await BusinessObjectHandler.ScheduleInspectionAuditAsync(BusinessObject, Inspection, _request!);
        NavigationManager.NavigateTo($"/business-objects/{BusinessObject}/inspections");
    }
}