@inject INotificationHandler NotificationHandler
@inject IInspectorHandler InspectorHandler
@inject AppAuthentication AppAuthentication
@inject AppEnvironment AppEnvironment
@inject ITranslator Translator

@implements IAsyncDisposable

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Paula</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="account/sign-in">
                        <span class="oi oi-account-login" aria-hidden="true"/>@Translator["Sign in"]
                    </NavLink>
                </div>
                @if (AppEnvironment.IsDevelopment)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" Match="NavLinkMatch.All" href="account/register">
                            <span class="oi oi-person" aria-hidden="true"/>@Translator["Sign up"]
                        </NavLink>
                    </div>
                }
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3 text-center">
                    <div class="nav-link">
                        @Translator["Information"]
                    </div>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="notifications">
                        <span class="oi oi-bell" aria-hidden="true"/>@Translator["Notifications"]
                        @if (_notificationCount > 0)
                        {
                            <span class="badge badge-danger ml-2">@_notificationCount</span>
                        }
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="RequiresMaintainability">
            <Authorized >
                <div class="nav-item px-3 text-center">
                    <div class="nav-link">
                        @Translator["Administration"]
                    </div>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="organizations">
                        <span class="oi oi-people" aria-hidden="true"/>@Translator["Organizations"]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="identities">
                        <span class="oi oi-credit-card" aria-hidden="true"/>@Translator["Identities"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="RequiresWeekManageability">
            <Authorized>
                <div class="nav-item px-3 text-center">
                    <div class="nav-link">
                        @Translator["Management"]
                    </div>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="inspectors">
                        <span class="oi oi-person" aria-hidden="true"/>@Translator["Inspectors"]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="business-objects">
                        <span class="oi oi-briefcase" aria-hidden="true"/>@Translator["Business Objects"]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="inspections">
                        <span class="oi oi-list" aria-hidden="true"/>@Translator["Inspections"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="RequiresWeekManageability">
            <Authorized>
                <div class="nav-item px-3 text-center">
                    <div class="nav-link">
                        @Translator["Timeline"]
                    </div>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="audit-history">
                        <span class="oi oi-clipboard" aria-hidden="true"/>@Translator["Audit History"] 
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="RequiresWeekInspectability">
            <Authorized>
                <div class="nav-item px-3 text-center">
                    <div class="nav-link">
                        @Translator["Tasks"]
                    </div>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="business-objects/auditing">
                        <span class="oi oi-clipboard" aria-hidden="true"/>@Translator["Auditing"]
                        @if (_auditingCount > 0)
                        {
                            <span class="badge @(_auditingDelayed ? "badge-danger" : "badge-warning") ml-2">@_notificationCount</span>
                        }
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private IDisposable? _notificationHandlerOnCreation;
    private IDisposable? _notificationHandlerOnDeletion;

    private IDisposable? _inspectorBusinessObjectCreation;
    private IDisposable? _inspectorBusinessObjectUpdate;
    private IDisposable? _inspectorBusinessObjectDeletion;

    private long _notificationCount;

    private long _auditingCount;
    private bool _auditingDelayed;



    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {          
        await authenticationState;
        await CountNotificationsAsync();
        await CountInspectorBusinessObjectsAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _notificationHandlerOnCreation = await NotificationHandler.OnCreationAsync(OnNotificationCreationAsync);
            _notificationHandlerOnDeletion = await NotificationHandler.OnDeletionAsync(OnNotificationDeletionAsync);

            _inspectorBusinessObjectCreation = await InspectorHandler.OnBusinessObjectCreationAsync(OnBusinessObjectCreationAsync);
            _inspectorBusinessObjectUpdate = await InspectorHandler.OnBusinessObjectUpdateAsync(OnBusinessObjectUpdateAsync);
            _inspectorBusinessObjectDeletion = await InspectorHandler.OnBusinessObjectDeletionAsync(OnBusinessObjectDeletionAsync);
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public async Task CountNotificationsAsync()
    {
        _notificationCount = 0;

        if (AppAuthentication.Authorizations.Any())
        {
            await foreach (var _ in NotificationHandler.GetAllForInspector(AppAuthentication.Inspector))
            {
                _notificationCount++;
            }
        }
        StateHasChanged();
    }

    public async Task CountInspectorBusinessObjectsAsync()
    {
        _auditingCount = 0;
        _auditingDelayed = false;

        if (AppAuthentication.Authorizations.Any())
        {
            var inspector = await InspectorHandler.GetAsync(AppAuthentication.Inspector);

            foreach (var businessObject in inspector.BusinessObjects)
            {
                if (businessObject.AuditScheduleDelayed) {
                    _auditingDelayed = true;
                }

                if (businessObject.AuditScheduleDelayed || 
                    businessObject.AuditSchedulePending) {
                    _auditingCount++;
                }
            }
        }
        StateHasChanged();
    }

    public Task OnNotificationCreationAsync(NotificationResponse _)
        => InvokeAsync(CountNotificationsAsync);

    public Task OnNotificationDeletionAsync(string _, int __, int ___)
        => InvokeAsync(CountNotificationsAsync);

    public Task OnBusinessObjectCreationAsync(string _, InspectorBusinessObjectResponse __)
        => InvokeAsync(CountInspectorBusinessObjectsAsync);

    public Task OnBusinessObjectUpdateAsync(string _, InspectorBusinessObjectResponse __)
        => InvokeAsync(CountInspectorBusinessObjectsAsync);

    public Task OnBusinessObjectDeletionAsync(string _, string __)
        => InvokeAsync(CountInspectorBusinessObjectsAsync);


    public async ValueTask DisposeAsync()
    {
        _notificationHandlerOnCreation?.Dispose();
        _notificationHandlerOnDeletion?.Dispose();

        await ValueTask.CompletedTask;
    }
}
