@using ChristianSchulz.ObjectInspection.Application.Authentication
@inject AppEnvironment AppEnvironment
@inject ITranslator<NavMenu> Translator
@inject IAuthenticationRequestHandler AuthenticationHandler
@inject ILocalStorage LocalStorage
@inject NavigationManager NavigationManager   

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar @NavMenuCssClass()">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
                
            <AuthorizeView Policy="OnlyInspectorOrObserver">
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" Match="NavLinkMatch.All" href="notifications">
                            <span class="oi oi-bell" aria-hidden="true"/>@Translator[$"Notifications"]
                            <ErrorBoundary Context="notificationBadgeErrorBoundary">
                                <ChildContent>
                                    <NotificationBadge/>
                                </ChildContent>
                                <ErrorContent/>
                            </ErrorBoundary>
                        </NavLink>
                    </li>
                    @if(AppEnvironment.IsDevelopment)
                {
                    <li class="nav-item">
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="missing-translations">
                                <span class="oi oi-globe" aria-hidden="true"/>@Translator[$"Missing Translations"]
                            </NavLink>
                        </li>
                }
                </Authorized>
            </AuthorizeView>
        </ul>
        <AuthorizeView Policy="OnlyMaintainer">
            <Authorized >
                <div>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>@Translator[$"Administration"]</span>
                    </h6>

                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="organizations">
                                <span class="oi oi-people" aria-hidden="true"/>@Translator[$"Organizations"]
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="identities">
                                <span class="oi oi-credit-card" aria-hidden="true"/>@Translator[$"Identities"]
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Policy="OnlyChiefOrObserver">
            <Authorized >
                <div>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>@Translator[$"Management"]</span>
                    </h6>

                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="inspectors">
                                <span class="oi oi-person" aria-hidden="true"/>@Translator[$"Inspectors"]
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="extensions">
                                <span class="oi oi-wrench" aria-hidden="true" />@Translator[$"Extensions"]
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="business-objects">
                                <span class="oi oi-briefcase" aria-hidden="true"/>@Translator[$"Business Objects"]
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="inspections">
                                <span class="oi oi-list" aria-hidden="true"/>@Translator[$"Inspections"]
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Policy="OnlyChiefOrObserver">
            <Authorized >
                <div>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>@Translator[$"Timeline"]</span>
                    </h6>

                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="audit-history">
                                <span class="oi oi-clipboard" aria-hidden="true" />@Translator[$"Audit History"]
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Policy="OnlyInspectorOrObserver">
            <Authorized >
                <div>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>@Translator[$"Tasks"]</span>
                    </h6>

                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="business-objects/auditing">
                                <span class="oi oi-clipboard" aria-hidden="true"/>@Translator[$"Auditing"]
                                <ErrorBoundary Context="auditingBadgeErrorBoundary">
                                    <ChildContent>
                                        <AuditingBadge/>
                                    </ChildContent>
                                    <ErrorContent/>
                                </ErrorBoundary>
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Policy="OnlyInspectorOrObserver">
            <Authorized >
                <div class="d-md-none pb-4 mb-5">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>@Translator[$"Account"]</span>
                    </h6>

                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="change-inspector" title="@Translator[$"Change Inspector"]">
                                <InspectorAvatar Size="16" Inspector="me" CssClass="avatar" />@Translator[$"Change Inspector"]
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <SignOutButton class="nav-link" title="@Translator[$"Sign out"]"/>
                        </li>
                    </ul>
                </div>
            </Authorized>
        </AuthorizeView>

    </div>
</nav>

@code {

[Parameter]
public bool Collapsed { get; set; }

private string NavMenuCssClass()
{
    return Collapsed
        ? "collapse"
        : "";
}
}
