@inject AppEnvironment AppEnvironment
@inject ITranslator<NavMenu> Translator
@inject IAuthenticationHandler AuthenticationHandler
@inject ILocalStorage LocalStorage
@inject NavigationManager NavigationManager   

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Paula</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <NotAuthorized>
                @if (AppEnvironment.IsDevelopment)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" Match="NavLinkMatch.All" href="register">
                            <span class="oi oi-person" aria-hidden="true"/>@Translator[$"Sign up"]
                        </NavLink>
                    </div>
                }
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Policy="AuditingLimited">
            <Authorized>
                <div class="nav-item px-3 text-center h-100">
                    <div class="nav-link">
                        <span class="d-none d-md-block">@Translator[$"Information"]</span>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="notifications">
                        <span class="oi oi-bell" aria-hidden="true"/>@Translator[$"Notifications"]
                        <ErrorBoundary Context="notificationBadgeErrorBoundary">
                            <ChildContent>
                                <NotificationBadge/>
                            </ChildContent>
                            <ErrorContent/>
                        </ErrorBoundary>
                    </NavLink>
                </div>
                @if(AppEnvironment.IsDevelopment)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" Match="NavLinkMatch.All" href="missing-translations">
                            <span class="oi oi-globe" aria-hidden="true"/>@Translator[$"Missing Translations"]
                        </NavLink>
                    </div>
                }
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="Maintainance">
            <Authorized >
                <div class="nav-item px-3 text-center">
                    <div class="nav-link">
                        <span class="d-none d-md-block">@Translator[$"Administration"]</span>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="organizations">
                        <span class="oi oi-people" aria-hidden="true"/>@Translator[$"Organizations"]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="identities">
                        <span class="oi oi-credit-card" aria-hidden="true"/>@Translator[$"Identities"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="ManagementRead">
            <Authorized>
                <div class="nav-item px-3 text-center">
                    <div class="nav-link">
                        <span class="d-none d-md-block">@Translator[$"Management"]</span>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="inspectors">
                        <span class="oi oi-person" aria-hidden="true"/>@Translator[$"Inspectors"]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="business-objects">
                        <span class="oi oi-briefcase" aria-hidden="true"/>@Translator[$"Business Objects"]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="inspections">
                        <span class="oi oi-list" aria-hidden="true"/>@Translator[$"Inspections"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="ManagementRead">
            <Authorized>
                <div class="nav-item px-3 text-center">
                    <div class="nav-link">
                        <span class="d-none d-md-block">@Translator[$"Timeline"]</span>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="audit-history">
                        <span class="oi oi-clipboard" aria-hidden="true"/>@Translator[$"Audit History"] 
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="AuditingLimited">
            <Authorized>
                <div class="nav-item px-3 text-center">
                    <div class="nav-link">
                        <span class="d-none d-md-block">@Translator[$"Tasks"]</span>
                    </div>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="business-objects/auditing">
                        <span class="oi oi-clipboard" aria-hidden="true"/>@Translator[$"Auditing"]
                        <ErrorBoundary Context="auditingBadgeErrorBoundary">
                            <ChildContent>
                                <AuditingBadge/>
                            </ChildContent>
                            <ErrorContent/>
                        </ErrorBoundary>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3 text-center d-md-none">
                    <div class="nav-link">
                        <span class="d-none d-md-block">@Translator[$"Account"]</span>
                    </div>
                </div>
                <div class="nav-item px-3 d-md-none">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="change-avatar" title="@Translator[$"Change Avatar"]">
                        <Avatar Size="24" Inspector="me" CssClass="mr-2" />@Translator[$"Change Avatar"]
                    </NavLink>
                </div>
                <div class="nav-item px-3 d-md-none">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="change-secret" title="@Translator[$"Change Password"]">
                        <span class="oi oi-key" aria-hidden="true"/>@Translator[$"Change Password"]</NavLink>
                </div>
                <div class="nav-item px-3 d-md-none">
                    <SignOutButton class="nav-link" title="@Translator[$"Sign out"]"/>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
